<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Real-time Refactoring"
            class="edu.washington.cs.rtrefactor.preferences.RtRefactorPreferencePage"
            id="edu.washington.cs.rtrefactor.preferences.RtRefactorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.washington.cs.rtrefactor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.washington.cs.rtrefactor.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="edu.washington.cs.rtrefactor.CloneQuickFixHook"
            id="edu.washington.cs.rtrefactor.CloneQuickFixHook">
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.washington.cs.rtrefactor.actionSet"
            label="Run Clone Detection"
            visible="true">
         <menu
               id="rtRefactorMenu"
               label="Real-time Refactor">
            <separator
                  name="rtRefactorGroup">
            </separator>
         </menu>
         <action
               class="edu.washington.cs.rtrefactor.actions.RunCloneDetection"
               icon="icons/sample.gif"
               id="edu.washington.cs.rtrefactor.actions.RunCloneDetection"
               label="Detect Code Clones"
               toolbarPath="rtRefactorGroup"
               tooltip="Detect Code Clones">
         </action>
      </actionSet>
   </extension>

</plugin>
