<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Real-time Refactoring"
            class="edu.washington.cs.rtrefactor.preferences.RtRefactorPreferencePage"
            id="edu.washington.cs.rtrefactor.preferences.RtRefactorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.washington.cs.rtrefactor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.washington.cs.rtrefactor.Activator">
      </startup>
   </extension>

</plugin>
